
@{
    ViewData["Title"] = "DisplayEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>تایید ایمیل</h1>
<p>برای تایید حساب کاربری خود بر روی لینکی که برای ایمیل شما ارسال شده است کلیک کنید</p>

