@model WebSite.EndPoint.Models.ViewModels.User.ResetPasswordDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>وارد کردن رمز عبور</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RessetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="Token" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="ارسال" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به صفحه</a>
</div>

