@model IList<string>
@{
    ViewData["Title"] = "UserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>لیست نفش ها</h1>

<a asp-action="Index"> Rolse of : @ViewBag.UserInfo</a>
<table class="table">
    <thead>
        <tr>
            <td>Role Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </tbody>
</table>